@model IEnumerable<Foosball.Domain.Model.IPlayerRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Standings</h2>
<div id="resultsGrid" style="height: 450px"></div>

<script>
    $(function() {
        $('#resultsGrid').w2grid({
            name: 'resultsGrid',
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "PlayerStandingsGrid" })',
            autoLoad: true,
            limit: 500,
            msgRefresh: 'Loading',
            show: {
                toolbar: false,
                footer: false,
                toolbarSave: false,
                toolbarDelete: false,
                toolbarSearch: false,
                toolbarReload: false,
                toolbarColumns: false
            },
            columns: [
                {
                    field: 'Player.UserName',
                    caption: 'Name',
                    size: '20%',
                    sortable: true,
                    resizable: true,
                    render: 'text'
                },
                {
                    field: 'GamesPlayed',
                    caption: 'Games Played',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'text'
                },
                {
                    field: 'Wins',
                    caption: 'Wins',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'text'
                },
                {
                    field: 'Losses',
                    caption: 'Losses',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'text'
                },
                {
                    field: 'Player.Rating',
                    caption: 'Rating',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'number'
                },
                {
                    field: 'GoalsScored',
                    caption: 'Goals Scored',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'int'
                },
                {
                    field: 'GoalsAllowed',
                    caption: 'Goals Allowed',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'int'
                },
                {
                    field: 'GoalsScoredPerGame',
                    caption: 'GSG',
                    title: 'Goals Scored Per Game',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'number:2'
                },
                {
                    field: 'GoalsAllowedPerGame',
                    caption: 'GAG',
                    title: 'Goals Allowed Per Game',
                    size: '10%',
                    sortable: true,
                    resizable: true,
                    render: 'number:2'
                }
            ]
        });
    });
</script>