@model IEnumerable<Foosball.Domain.Model.IPlayerRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Standings</h2>
<div id="resultsGrid" style="height: 450px"></div>

<script>
    $(function() {
        $('#resultsGrid').w2grid({
            name: 'resultsGrid',
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "PlayerStandingsGrid" })',
            autoLoad: true,
            limit: 500,
            msgRefresh: 'Loading',
            show: {
                toolbar: false,
                footer: false,
                toolbarSave: false,
                toolbarDelete: false,
                toolbarSearch: false,
                toolbarReload: false,
                toolbarColumns: false
            },
            columns: [
                {
                    field: 'DisplayName',
                    caption: 'Name',
                    size: '26%',
                    sortable: false,
                    resizable: true,
                    render: 'text'
                },
                {
                    field: 'GamesPlayed',
                    caption: 'GP',
                    size: '8%',
                    sortable: false,
                    resizable: true,
                    render: 'number'
                },
                {
                    field: 'Wins',
                    caption: 'Wins',
                    size: '8%',
                    sortable: false,
                    resizable: true,
                    render: 'number'
                },
                {
                    field: 'Losses',
                    caption: 'Losses',
                    size: '8%',
                    sortable: false,
                    resizable: true,
                    render: 'number'
                },
                {
                    field: 'WinPercentage',
                    caption: 'Win %',
                    size: '6%',
                    sortable: false,
                    resizable: true,
                    render: 'percent'
                },
                {
                    field: 'Rating',
                    caption: 'Rating',
                    size: '8%',
                    sortable: false,
                    resizable: true,
                    render: 'number'
                },
                {
                    field: 'GoalsScored',
                    caption: 'Goals Scored',
                    size: '10%',
                    sortable: false,
                    resizable: true,
                    render: 'int'
                },
                {
                    field: 'GoalsAllowed',
                    caption: 'Goals Allowed',
                    size: '10%',
                    sortable: false,
                    resizable: true,
                    render: 'int'
                },
                {
                    field: 'GoalsScoredPerGame',
                    caption: 'GS/G',
                    size: '8%',
                    sortable: false,
                    resizable: true,
                    render: 'number:2'
                },
                {
                    field: 'GoalsAllowedPerGame',
                    caption: 'GA/G',
                    size: '8%',
                    sortable: false,
                    resizable: true,
                    render: 'number:2'
                }
            ],
            onSelect: function (event) {
                window.location = ('@Url.Action("Details", "Player")/' + event.recid);
            }
        });
    });
</script>