@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results</h2>
<div id="resultsGrid" style="height: 450px"></div>

<script>
    $(function () {
        $('#resultsGrid').w2grid({
            name: 'resultsGrid',
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "GameResultGrid" })',
            autoLoad: true,
            limit: 500,
            msgRefresh: 'Loading',
            show: {
                toolbar: false,
                footer: false,
                toolbarSave: false,
                toolbarDelete: false,
                toolbarSearch: false,
                toolbarReload: false,
                toolbarColumns: false
            },
            columns: [
                {
                    field: 'GridTimestamp',
                    caption: 'Timestamp',
                    size: '20%',
                    sortable: false,
                    resizable: true,
                    render: 'text'
                },
                {
                    field: 'Summary',
                    caption: 'Summary',
                    size: '50%',
                    sortable: false,
                    resizable: true,
                    render: 'text'
                },
                {
                    caption: 'Winner Rating',
                    size: '15%',
                    sortable: false,
                    resizable: true,
                    render: function (record) {
                        return record.WinnerRating + ' (+' + record.WinnerDelta + ') <span class="glyphicon glyphicon-arrow-up">&nbsp;</span>';
                    }
                },
                {
                    caption: 'Loser Rating',
                    size: '15%',
                    sortable: false,
                    resizable: true,
                    render: function (record) {
                        return '<span style="color: red;">' + record.LoserRating + ' (' + record.LoserDelta + ') <span class="glyphicon glyphicon-arrow-down">&nbsp;</span></span>';
}
                }
            ]
        });
    });
</script>